@font-face 
{
    font-family: fontlocal;
    src: url(../fonts/Kanit/Kanit-Black.ttf);
}


th,td
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

table
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tdhoras
{
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: rgba(248, 112, 8, 0.597);
}
.thdias
{
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: rgba(248, 112, 8, 0.597);
}

td
{
    width: 110px;
    height: 40px;
    
}


.asignatura
{
    width: 100px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-style: bold;
}

.bardaji
{
    text-align: center;
    background-color: rgba(137, 43, 226, 0.597);
    font-family: fontlocal;

    
}

.gomez
{
    text-align: center; 
    background-color: rgba(46, 226, 43, 0.597);
    font-family: vina sans;
}

.campaña
{
    text-align: center;
    background-color: rgba(226, 198, 43, 0.597);
}

.montesinos
{
    text-align: center;
    background-color: rgba(226, 43, 186, 0.597);
    
}

.duran
{
    text-align: center;
    background-color: rgba(43, 83, 226, 0.597);
}

#pati
{
    text-align: center;
    background-color: rgba(170, 46, 52, 0.686);
}

#provenzana
{
    width: 50px;
}

.centrar
{
    text-align: center;
}

#dreta
{
    text-align: right;
}

