table
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

td
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

th
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}